
.s010 form .inner-form .input-field input {
  border: 0;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(to right, #2c6dd5 0%, #2c6dd5 28%, #ff4b5a 91%, #ff4b5a 100%);
  font-family: 'Lato', sans-serif;
}
