<footer fxLayoutAlign="center center">
	<div class="facebook">
		<a href="https://www.facebook.com/sharer/sharer.php?u={{url}}">
			<i class='fab fa-facebook fa-2x'></i>
		</a>
    </div>
	<div class="twitter">
		<a href="https://twitter.com/intent/tweet?url={{url}}">
			<i class='fab fa-twitter fa-2x'></i>
		</a>
	</div>
	<div class="whatsapp">
		<a href="whatsapp://send?text='Diccionario Online'" data-action="share/whatsapp/share">
			<i class='fab fa-whatsapp fa-2x'></i>
		</a>
	</div>
</footer>